# Compiled source #
###################
.*
*.build
*.img
*.awk
*.map
*.com
*.class
*.dll
*.exe
*.o
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.conf
*.psr
*.a
*.y
*.l
*.py
*.pl
*.p
*.prop
*.inc
*.P
*.lds
*.d
*.lst
*.ld
*.cpio
*.mod.c
*.cmd
*.d
.tmp_kallsyms1.S
.tmp_kallsyms2.S
include/generated/compile.h
arch/arm/boot/uImage
kernel/config_data.h
include/generated/autoconf.h
kernel/bounds.s
arch/arm/kernel/asm-offsets.s
arch/arm/configs/build_read.txt
include/generated
kernel/bounds.s



# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.lzma
*.builtin

#
# Top-level generic files
#
tags
TAGS
vmlinux
System.map
Module.markers
Module.symvers
!.gitignore
!.mailmap
#
# Generated include files
.DS_Store?
ehthumbs.db
#
include/asm
include/asm-*/asm-offsets.h
include/config
include/linux/autoconf.h
include/linux/compile.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/bounds.h
drivers/video/logo/

# dir #
drivers/video/logo

# cscope files
cscope.*
ncscope.*

*.orig
*~
\#*#

